<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-black text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white">
           Login
        </h1>
      </div>
      <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="https://toppng.com/public/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png"
        width="50px" height="50px"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/api/session/login" method="post">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control bg-dark text-white"
              name="email"
              placeholder="Email"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="passswore">Password:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="btn btn-success btn-block">
            Enviar
          </button>
        </form>
      </div>

      <p class="text-center">¿No tienes una cuenta? <a href="/register" class="text-info">Registrate</a></p>
    </div>
  </div>
</div>