<li><a title="">Login</a></li>
</ol>
</div>
</div>
</header>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Log In </h2>
    <!-- Login Form -->
    <form action="/api/session/login" method="post">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Iniciar Sesion">
      <input type="submit" class="fadeIn fourth" value="Login Git Hub">
      <a href="/login-github" class="btn_git">Iniciar sesión con GitHub</a>
      <input type="submit" class="fadeIn fourth" value="Login Google">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p class="text-center">¿Olvidaste tu contraseña?</p><a class="underlineHover" href="/resetPassword">
        Restablecela</a>
      <p class="text-center">¿No tienes cuenta? <a class="underlineHover" href="/register">Registrate</a> </p>
    </div>

  </div>
</div>