<div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mensaje del Servidor</h4>
      </div>
      <div class="modal-body">
        <p>{{message.message}}</p>
      </div>
      <div class="modal-footer">
        <button
          id="cerrarModal"
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
        >Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () { const urlAnterior
  = window.location.href; $('#myModal').modal('show');
  document.getElementById('cerrarModal').addEventListener('click', function () {
  window.location.href = '{{URI.URI}}'; }); });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"
></script>