<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Subida de Archivos</title>
  <!-- Agrega el enlace al archivo CSS de Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Subir Archivos</h2>
    <form action="/api/users/usuario_id/documents" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="profileImage">Imagen de Perfil:</label>
        <input type="file" class="form-control-file" name="profileImage" accept="image/*">
      </div>

      <div class="form-group">
        <label for="productImage">Imagen de Producto:</label>
        <input type="file" class="form-control-file" name="productImage" accept="image/*">
      </div>

      <div class="form-group">
        <label for="document">Documentos:</label>
        <input type="file" class="form-control-file" name="document" multiple>
      </div>

      <button type="submit" class="btn btn-primary">Subir Archivos</button>
    </form>
  </div>

  <!-- Agrega el enlace al archivo JS de Bootstrap y jQuery (opcional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>