<h1>Usted ha sido verificado con exito!</h1>
<div style="d-flex justify-content-center">
  <a
    href="/api/session/login"
    style="margin-left:50%; margin-top: 10px;margin-bottom:10px"
  >
    <button class="btn" style="margin: 0 auto;margin-bottom:10px">Quiero loguearme!</button>
  </a>
</div>