<footer role="contentinfo" aria-label="Footer">
    <div class="_cont">
        <div class="socials">
            <strong>follow us:</strong>
            <ul>
                <li><a title="html-koder / test on Twitter" class="tw" target="_blank">Twitter</a></li>
                <li><a title="html-koder / test on Facebook" class="fb" target="_blank">Facebook</a></li>
                <li><a title="html-koder / test on Instagram" class="in" target="_blank">Instagram</a></li>
                <li><a title="html-koder / test on Pinterest" class="pi" target="_blank">Pinterest</a></li>
            </ul>
        </div>
        <div class="top">
            <div class="right">

                <form class="contact-form" accept-charset="UTF-8">
                    <input type="hidden" value="customer" name="form_type" /><input type="hidden" name="utf8"
                        value="✓" />
                    <div>
                        <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter" />
                        <input type="text" id="contact_email" name="contact[email]"
                            placeholder="Suscribite por e-mail para las especiales ofertas...">
                        <button type="submit" title="Newsletter Signup">OK</button>
                    </div>
                </form>
            </div>
            <div class="left">
                <span class="phone">+549 351 2404821</span>
                <a class="mail" href="mailto:ecommerce@dominio.com">ecommerce@dominio.com</a>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <nav role="navigation" aria-label="Service menu">
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>Manage</a></li>
                        <li><a>Support</a></li>
                        <li><a>Products</a></li>
                        <li><a>Cart</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>


<div id="quick-cart" quickbeam="cart">
    <a id="quick-cart-pay" quickbeam="cart-pay" class="cart-ico">
        <span>
            <strong class="quick-cart-text">Pay<br></strong>
            <span id="quick-cart-price">0</span>
            <span id="quick-cart-pay-total-count">0</span>
        </span>
    </a>
</div>