<html lang="en">
<head>
    <link rel="stylesheet" media="all" href="/CSS/stylelogin.css">
    <link rel="stylesheet" media="all" href="/CSS/styleAllProducts.css">
    <link rel="stylesheet" media="all" href="/CSS/style.css">
</head>


<header role="banner" aria-label="Heading">
    <div class="header">
        <div class="_cont">
            <div class="shadow">
                <a class="logo" title="Home" href='https://github.com/greenwoodents/quickbeam.js'>Eccomerce German</a>
            </div>
            <div class="mobile-menu">
                <form action="/search" method="get" id="find">
                    <div>
                        <input type="text" name="q" id="find-input" class="find-input" placeholder="Search..." value="">
                        <button type="submit" title="Search" id="find-btn">Search</button>
                    </div>
                </form>
                <a id="customer_login_link">Sign In</a>
                <a id="customer_login_link">Sign Out</a>
                <nav role="navigation" aria-label="Catalog">
                    <ul>
                        <li class="nc nav-li-category">
                            <a class="nc nav-category" data-subcategories="1">Home</a>
                            <ul class="nc">
                            </ul>
                        </li>
                        <li class="nc nav-li-category">
                            <a class="nc nav-category" data-subcategories="1">Manage</a>
                            <ul class="nc">
                            </ul>
                        </li>
                        <li class="nc nav-li-category">
                            <a class="nc nav-category" data-subcategories="1">Support</a>
                            <ul class="nc">
                            </ul>
                        </li>
                        <li class="nc nav-li-category">
                            <a class="nc nav-category" data-subcategories="1">Products</a>
                            <ul class="nc">
                            </ul>
                        </li>
                        <li class="nc nav-li-category">
                            <a class="nc nav-category" data-subcategories="1">Cart</a>
                            <ul class="nc">
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <span id="nav-icon"></span>
        </div>
    </div>



  {{{body}}}
  {{footer}}
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>